.webPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 98vh;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  display: flex;
}

.column {
  width: 20px;
  height: 20px;
  border: solid;
}

.gridSize {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  gap: 10px;
}


button {
  max-height: 50px;
  max-width: 100px;
  align-self: center;
}